.nav-item
{
margin-left: 290px;
}
.footer-item
{
background: #212529;
color: white;

height: 50px;
display: block;

}
.subtitle
{


}
.body
{

background-color: #d6d6d6;

}
.card-text
{
height: 50px;
}
.card
{
width: 230px;

}