.nav-item {
  margin-left: 290px;
}
.footer-item {
  background: #212529;
  color: white;

  height: 50px;
  display: block;
}

.body {
  background-color: #d6d6d6;
}
.card-text {
  height: 30px;
}
.card {
  width: 230px;
}
.card:hover {
  border: 1px solid grey;
}
.card-footer {
  height: 55px;
  padding-top: 0px;
}
.btn-footer-card {
  margin-bottom: 22px;
}

#img-modal {
  width: 498px;
  height: 200px;
}

.pedido-row {
  border: 1px solid grey;
}
.subtitle {
  font-style: italic;
}
.nav-item a {
  font-size: larger;
}
.navbar-brand {
  font-size: x-large;
}
.navbar-brand i {
  margin-left: 20px;
  font-size: larger;
}
.card-title {
  margin-top: -10px;
}
.card-text {
  font-weight: 500;
}
.cantItem {
  width: 35px;
  height: 25px;
  margin-right: 10px;
}

.pedido-row-cant {
  margin-top: 33px;
}

/* Accordion Styles */

.accordion-button {
  background: #212529 !important;
  color: white !important;
}
.accordion-button:after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}
.accordion-item {
  margin-left: 12px;
  margin-right: 20px !important;
  width: 60%;

}
